<div class="wrapper">
  <div (click)="loginPopup()">Sign IN Popup</div>
  <div (click)="loginRedirect()">Sign IN Redirect</div>
  <hr>
  <div (click)="logoutPopup()">Sign OUT Popup</div>
  <div (click)="logoutRedirect()">Sign OUT Redirect</div>
</div>
<hr>
<div>
  <div>token expiring: <span>{{expiring$ | async}}</span></div>
  <div>token expired: <span>{{expired$ | async}}</span></div>
  <hr>
  errors: <span class="errors">{{errors$ | async | json}}</span>
  <hr>
  user loading: <span>{{loading$ | async}}</span>
  <hr>
  <span>{{identity$ | async |json}}</span>
</div>
